<!DOCTYPE html>
<html>
<head>
  <title>Lab7</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav">
    <li class="active">
      <a href="/students" class="nav-link">List</a>
      <!--<dev class="nav-link">
            <%#= link_to "List", students_path %>
          </dev>-->
    </li>
    <li class="nav-item">
      <a href="/students/new" class="nav-link">Registration</a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>
<%= yield %>
</body>
</html>